/*
  Author: Chris Macharia
  Theme: Food order website
  Version: 1.0
*/

/*CSS for all*/

 *{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  /* border: 1px solid black; */
  padding: 1%;
  width:80%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
body{
  background-color: #9966ff;
}
.clear-fix{
  float: none;
  clear: both ;
}
.tbl-full{
  width: 100%;
}
.tbl-30{
  width: 30%;
}
table tr th{
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td{
  padding: 1%;
}
.btn-primary{
  background-color: #0984e3;
  padding: 1%;
}
.btn-primary:hover{
  background-color: #6c5ce7;
}
.btn-secondary{
  background-color: #00b894;
  padding: 1%;
} 
.btn-secondary:hover{
  background-color: #55efc4;
}
.btn-danger{
  background-color: #d63031;
  padding: 1%;
}
.btn-danger:hover{
  background-color:#e17055;
}
button a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#update-admin-btn a{
  color: black;
}



/*CSS for menu*/

.menu{
  border-bottom: 1px solid black;
}
.menu ul{
  list-style-type: none;
  padding: 1%;
}
.menu ul li{
  display: inline;
}
.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #c0392b;
}
.menu ul li a:hover{
  color: #d35400;
}

/*CSS for main-section*/

.main-content{
  background-color: #bdc3c7;
  padding: 3% 0;
}
.col-4{
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}
/*CSS for footer*/

.footer{
  background-color: #e74c3c;
  color: white;
}